
h1 { 
    font-family: "Circular Std Bold";
    font-size: 240px;
    font-weight: 700;
    font-style: normal;
}

h2 { 
    font-family: "Circular Std Bold";
    font-size: 120px;
    font-weight: 700;
    line-height: 112px;
    font-style: normal;
}

h3 { 
    font-family: 'NanumBarunGothic';
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    font-style: normal;
}
 
h4 { 
    font-family: 'NanumBarunGothic';
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    font-style: normal;
}
 
p {
    font-family: 'NanumBarunGothic';
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    font-style: normal;
}

ul,
ol {
    list-style:none;
} 

a {
    text-decoration: none;
    color: rgb(255,255,255);
}
/*        font -END-         */


/*           HEADER -START-            */
/*           HEADER -START-            */

.div {
    width: 100%;

    position: relative;
    background-attachment: fixed;
}
.div video{
    object-fit: cover;
    max-height: 598px;
    width: 100%;
}

.header{
    width: 60px;
    height: 60px;
    position: fixed;
    left:0;
    top:0;
    z-index: 200;
}
.nav{
    width: 100%;
}
/* gostore style */
.gostore {
    width: 60px;
    height: 60px;
    background: rgb(255,255,255) url(../img/index/ico_shop2.png) no-repeat center;
    background-size: 60px 60px;
    border-radius: 30px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.05);
    border-radius: 100%;
    position: fixed;
    right: 130px;
    bottom: 88px;
    padding-right: 30px;
    z-index: 200;
}

.gostore:hover {
    width: 60px;
    height: 60px;
    background: rgb(0,0,0) url(../img/index/ico_shop3.png) no-repeat center;
    background-size: 60px 60px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.05);
}
.logo{
    width: 126px;
    height: 26px;
    margin: 100px 0 0 100px;
    background-color: gold;
    background: url(../img/index/img_logo.png) no-repeat center center;
    background-size: 126px 26px;
    cursor: pointer;
}

/* #menu{
    position:fixed;
    right:88px;
    top:88px;
    z-index:210
}
#menu a{
    position:relative;
    display:block;
    width:50px;
    height:50px
}
#menu a:before{
    content:'';
    position:absolute;
    left:12px; top:12px;
    display:block;
    width:26px; height:26px;
    background:url(../img/contact/ico_menu4.png) 0 0 no-repeat;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out
}
#menu a:hover:before{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg)
} */

/*         gnb START          */

#gnb_m { 
    display: none;
    background-color: rgba(255,255,255,0.95); 
    position: fixed; 
    width: 0%; top:0; left:0; 
    z-index: 999; height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

#gnb {
    position: absolute;
    z-index: 9999;
    padding: 110px 0 0;
    left: calc(50% - 450.15px);
}
.gnb_menu {
    display: flex;
    justify-content: center;
}
.gnb_menu li {
    margin: 0 70px 0 0;
    
}

.gnb_menu li:nth-child(6) {
    margin: 0 0 0 0;
}
.gnb_menu a {
    font-family: "Circular Std Bold";
    font-size: 16px;
    font-weight: 700;
    color: rgb(255,255,255);
    position: relative;
    display: inline-block;   
}


.gnb_menu_li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255,255,255);
    transition: width 0.3s;
    
}

.gnb_menu_li a:hover::after {
    width: 100%;
}
.snb_menu {
    padding: 20px 0;
    position: absolute;
    background: none;
    min-width: 160px;
    display: none;


}

.snb_menu li {
    margin: 0 0 10px 0;
}


.snb_menu li a {
    padding: 5px 0;
    font-family: "Circular Std Bold";
    font-size: 12px;
    line-height: 13px;
    font-weight: 700;

}

.snb_menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255,255,255);
    transition: width 0.3s;
}

.snb_menu li a:hover::after {
    width: 100%;
}


.gnb_menu_li:hover .snb_menu {
    display: block;
}
.dropdown_menu {
    animation: dropDown 300ms ease-in-out forwards;
    transform-origin: top center;  
}

@keyframes dropDown {
    0% { transform: scaleY(0) }
    80% { transform: scaleY(1.1) }
    100% { transform: scaleY(1) }
} 
/*         gnb END          */


#menu_show{
    position:fixed;
    right:88px;
    top:88px;
    z-index:210;
}
.menu_show_a{
    position:relative;
    display:block;
    width:50px;
    height:50px;
}
.menu_show_a:before{
    content:'';
    position:absolute;
    left:12px; top:12px;
    display:block;
    width:26px; height:26px;
    background:url(../img/index/ico_menu4_white.png) 0 0 no-repeat;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;
}
.menu_show_a:hover:before{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}


#menu_hide{
    position:fixed;
    right:88px;
    top:88px;
    display: none;
    z-index:209;

}
#menu_hide a{
    position:relative;
    display:block;
    width:50px;
    height:50px
}
#menu_hide a:before{
    content:'';
    position:absolute;
    left:12px; top:12px;
    display:block;
    width:26px; height:26px;
    background:url(../img/index/ico_menu4_white.png) 0 0 no-repeat;
    transform: rotate(45deg);

}
/*           HEADER -END-            */
/*           HEADER -END-            */



/* section - cover */

#cover {
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    background-color: rgb(184,173,173);
}

.cover_wrap {
    width: 980px;
    margin: 0 auto;
    /* padding: 380px 0 0; */
    position: absolute;
    left: calc(50% - 490px); bottom: 300px;
}

.cover_wrap_h2 {
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}

.cover_wrap p {
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 0 ;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
    padding: 0 0 0 8px;
}

#video_kim{
    position: relative;
    object-fit: cover;
    max-height: 765px;
    width: 100%;
}
/*////////////////*/

#hero{background-color: rgb(184,173,173); width: 100%; height: 3631px;}
#hero p{    
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 0 ;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.hero_p_wrap{
    padding: 200px 0 60px 50%;
}
.hero_p_wrap_2{
    padding: 0 0 50px 110px;
}
#hero h3{
    font-family: 'NanumBarunGothic';
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.hero_h3_wrap{
    margin: 0 0 200px 50%;
}
#hero strong{
    font-family: 'NanumBarunGothic';
    font-size: 40px;
    font-weight: 700;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.hero_strong_wrap{
    margin: 0 0 10px 110px;
}
.hero_makingfirm{
    margin: 0 auto;
    width: 1200px;
}
.hero_makingfirm_img{
    cursor: url("../img/kimdami/ico_pointer_play.png")35 35,auto;
}
.hero_makingfirm_img img{
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.hero_imagetype_1{
    width: 1200px; height: 1626px;
    margin: 200px auto 0;
    position: relative;
}
.hero_h3_wrap_2{
    margin: 0 0 0 775px; padding: 112px 0 0 70px;
}
.hero_imagetype_span{
    width: 355px; height: 30px;
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
    position: absolute;
    left: 845px; top:555px;
}
.hero_imagetype_img_wrap{
    margin:60px 0 0 110px;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.hero_imagetype_img_wrap li:nth-child(2){
    margin: -154px 0 0 245px;
}
#second{
    width: 100%;
    height: 100%;
    background-color: rgb(184,173,173);
    position: relative;
}

#second .h2{
    position: absolute; left: calc(50% - 278.3px); top:calc(50% - 40.5px);
    font-family: 'NanumBarunGothic';
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    color: white;

}
#dami_cont{
    width: 100%; height: 2114px;
    background-color: rgb(184,173,173);
}
.dami_cont_wrap{
    width: 1200px; height: 1155px;
    padding: 200px 0 0 0;
    margin:0 auto;
}
.dami_cont_wrap_wrap{
    width: 1200px;
}
.dami_cont_p{
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: 700;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.dami_cont_p_wrap{
    margin:  0 0 60px 110px;
}
.dami_cont_h3{
    font-family: 'NanumBarunGothic';
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.dami_cont_h3_wrap{
    margin: 0 0 200px 110px;
}
.dami_strong{
    font-family: 'NanumBarunGothic';
    font-size: 40px;
    font-weight: 700;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
    margin: 0 0 10px 464px;
}
.dami_cont_p_wrap_2{
    margin: 0 0 50px 464px;
    font-family: 'NanumBarunGothic';
    font-size: 12px;
    font-weight: 700;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
}
.dami_dami img{
    margin: 0 0 0 364px;
    cursor: url("../img/kimdami/ico_pointer_play.png")35 35,auto;
}
.dami_lasttitle{
    width: 1200px; height: 309px;
    padding: 0 0 250px 0;
    margin: 200px auto 0;
}
.dami_tittt{
    font-family: 'NanumBarunGothic';
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    color: white;
    opacity: 0;
    animation: fadeInup 2s ease 0.5s forwards;
    padding: 112px 0 0 70px;
    margin: 0 0 0 40px;
}


                        /*      - > FOOTER < -      */
                        #footer{
                            margin: 940px 0 0 0;
                            width: 100%; 
                            padding: 200px 60px 60px 60px;
                            color:rgb(0,0,0);
                            background-color: rgb(250,250,250);
                        }
                        #footer a{
                             color:rgb(0,0,0);
                        }
                        #footer .site{
                            width: 100%; height: 385px;
                            padding: 70px 30px;
                            border-top: 5px solid rgb(0,0,0);
                        }
                        #footer dl{
                            height: 240px;
                            float: left;
                            margin: 0 150px 0 0;
                        }
                        #footer dl:first-child{
                            margin: 0 70px 0 0;
                        }
                        #footer dl:nth-child(2){
                            margin: 0 70px 0 0;
                        }
                        #footer dt{
                            height: 24px;
                            margin: 0 0 17px 0;
                            font-size: 20px;
                            font-weight: 700;
                        }
                        #footer dd{
                            margin: 0 0 11px 0;
                            font-size: 12px;
                            font-weight: 700;
                        
                        }
                        
                        #footer .others{
                            border-top: 5px solid rgb(0,0,0);
                            border-bottom: 5px solid rgb(0,0,0);
                            padding: 118px 30px 120px 30px;
                            width: 100%;
                            position: relative;
                        }
                        
                        #footer .sns ul{
                            margin: 0 0 18px;
                            height: 19px;
                        }
                        #footer .sns li{
                            float:left;
                            margin:0 20px 0 0;
                            font-size: 12px;
                            font-weight: 700;
                        }
                        #footer .sns li:last-child{
                            margin-right:0;
                        }
                        #footer .copyright{
                            background: url(../img/contact/img_logo72_b.png) no-repeat 0 0;
                            padding: 0 0 0 92px;
                            font-size: 12px;
                            font-weight: 400;
                        }
                        #footer .award{
                            position: absolute;
                            right: 30%; top: 40%;
                        }
                        #footer .award img{
                            width: 93px; height: 50px;
                            margin: 0 20px 0 0;
                        }
@keyframes fadeInup {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}